* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}
body {
    overflow-x: hidden;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 30px 50px 30px;
}
.Box {
    display: flex;
    justify-content: space-between;

    gap: 55px;
}
.formDiv {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.tableDiv {
    max-width: 600px;
    width: 100%;
    height: 250px;
    overflow: scroll;
    margin: 0 auto;
}
.buttonsDiv {
    margin-top: 50px;
}
.buttonsBox {
    display: flex;
    justify-content: space-between;
    max-width: 270px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    /* table-layout: auto; */
}
thead {
    position: sticky;
    top: 0px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    margin-top: -1px;

    /* border-top: 1px solid; */
}
td,
th {
    border: solid 1px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    text-align: center;
}
th {
    border: none;
}
tbody tr:hover {
    background-color: rgb(240, 240, 240);
}
form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input {
    height: 40px;
    padding-left: 20px;
    font-size: 14px;
}
input::placeholder {
    font-size: 15px;
}
button {
    max-width: 80px;
    width: 100%;
    height: 30px;
    /* border-radius: 0; */
    border: solid 1px;

    background-color: transparent;
    cursor: pointer;

    transition: all 0.07s ease-out;
}
button:hover {
    background-color: rgb(240, 240, 240);
}
button:active {
    font-size: 11.5px;
}
.averageText {
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}
.hide {
    display: none;
}
